@model RoleUserViewModel

<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                Role
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
    <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well">
                    <form action="@Url.Action("AddRoleUserMenu", "Misc" )" method="POST" class="form-horizontal" name="assignRoleForm" id="assignRoleForm">
                        <fieldset>
                            <legend>Assign Role</legend>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Select Role</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.RoleCode, Model.RoleList, "--Select--", new { @class = "form-control" })
                                            @*<select class="form-control">
                                                    <option value="AK">Admin</option>
                                                    <option value="HI">Manager</option>
                                                    <option value="HI">Audit</option>
                                                </select>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Select User</label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.UserCode, Model.UserList, "--Select--", new { @class = "form-control" })

                                            @Html.HiddenFor(m => m.CreatedBy)
                                            @Html.HiddenFor(m => m.Id)
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<fieldset>
                                    <legend></legend>
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Select Menus</label>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectMenusModal">
                                                        Click here to select
                                                    </button>
                                                    <textarea id="selectedMenusList" class="form-control" rows="4" placeholder="Selected menus will be displayed here" readonly></textarea>
                                                    @Html.HiddenFor(m => m.MenuCode)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>*@

                            <fieldset>
                                <legend></legend>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Select Branche</label>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(m => m.BranchCode, Model.BranchList, "--Select--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <legend></legend>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Is Active</label>
                                        <div class="col-md-6">
                                            <span class="onoffswitch">
                                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "onoffswitch-checkbox" })
                                                <label class="onoffswitch-label" for="IsActive">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <a class="btn btn-primary" href="@Request.UrlReferrer">
                                        <i class="fa fa-undo"></i>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@*<div class="modal fade" id="selectMenusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Choose Menus for this Role</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 role-based-menu-selection nested-checkbox">
                        <div class="dd role-menu-selection" id="nestable3">
                            <ol class="dd-list">
                                @if (Model.MenuList != null && Model.MenuList.Any())
                                {
                                    var parentMenus = Model.MenuList.Where(i => string.IsNullOrEmpty(i.ParentMenucode)).ToList();
                                    foreach (var item in parentMenus)
                                    {
                                    <li class="dd-item dd3-item" data-id="16">
                                        <div class="dd-handle dd3-handle"></div>
                                        <div class="dd3-content">
                                            <label>
                                                <input type="checkbox" data-text="@item.MenuName" value="@item.MenuCode">
                                                @item.MenuName
                                            </label>
                                        </div>
                                        @{
                                            var childItems = Model.MenuList.Any(i => string.Compare(i.ParentMenucode, item.MenuCode) == 0) ? Model.MenuList.Where(i => string.Compare(i.ParentMenucode, item.MenuCode) == 0).ToList() : null;
                                            if (childItems != null && childItems.Any())
                                            {
                                            <ol class="dd-list">
                                                @foreach (var childItem in childItems)
                                                {
                                                <li class="dd-item dd3-item" data-id="16">
                                                    <div class="dd-handle dd3-handle"></div>
                                                    <div class="dd3-content">
                                                        <label>
                                                            <input type="checkbox" data-text="@childItem.MenuName" value="@childItem.MenuCode">
                                                            @childItem.MenuName
                                                        </label>
                                                    </div>
                                                </li>
                                                }
                                            </ol>
                                            }
                                        }
                                    </li>
                                                }
                                            }
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveMenusForRole()">Done</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="selectBranchesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Choose Branch for this Role</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 role-based-branch-selection nested-checkbox">
                    <div class="dd role-menu-selection" id="nestable3">
                        <ol class="dd-list">
                            @if (Model.BranchList != null && Model.BranchList.Any())
                            {
                                foreach (var item in Model.BranchList)
                                {
                                <li class="dd-item dd3-item" data-id="16">
                                    <div class="dd-handle dd3-handle"></div>
                                    <div class="dd3-content">
                                        <label>
                                            <input type="checkbox" value="@item.BusinessCenterCode" data-text="@item.BusinessCenterName">
                                            @item.BusinessCenterName
                                        </label>
                                    </div>
                                </li>
                                }
                            }
                        </ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveBranchesForRole()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S)
        <script src="..."></script>-->
    <script src="~/Scripts/plugin/jquery-nestable/jquery.nestable.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
}
