@model AccountChangePasswordModel

<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                Change Password
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
    <!--
        The ID "widget-grid" will start to initialize all widgets below
        You do not need to use widgets if you dont want to. Simply remove
        the <section></section> and you can use wells or panels instead
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well">
                    <form action="@Url.Action("changepassword", "account")" method="POST" id="smart-form-changepassword" class="smart-form client-form">
                        @Html.AntiForgeryToken()
                        @Html.ValidationBootstrap()
                        <fieldset>
                            <section>
                                @Html.LabelFor(model => model.CurrentPassword, new { @class = "label" })
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.EditorFor(model => model.CurrentPassword, new { @type = "password", @required="required", @name = "currentPassword", @id = "currentPassword" })
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelFor(model => model.NewPassword, new { @class = "label" })
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.EditorFor(model => model.NewPassword, new { @type = "password", @required = "required", @name = "newPassword", @id = "newPassword" })
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                </label>
                            </section>
                            <section>
                                @Html.LabelFor(model => model.NewPasswordConfirm, new { @class = "label" })
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.EditorFor(model => model.NewPasswordConfirm, new { @type = "password", @required = "required", @name = "newPasswordConfirm", @id = "newPasswordConfirm" })
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                </label>
                            </section>
                            @Html.HiddenFor(model => model.Id)
                        </fieldset>

                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Change Password
                            </button>
                        </footer>
                    </form>
                </div>
            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section pagespecific{
    <script type="text/javascript">
        // Validation
        $(function () {
            // Validation
            $("#smart-form-changepassword").validate({
                // Rules for form validation
                rules: {
                    currentPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 20
                    },
                    newPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                    },
                    newPasswordConfirm: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                        equalTo: '#newPassword'
                    }
                },

                // Messages for form validation
                messages: {
                    currentPassword: {
                        required: 'Please enter your current password'
                    },
                    newPassword: {
                        required: 'Please enter your new password'
                    },
                    newPasswordConfirm: {
                        required: 'Please enter your new password one more time',
                        equalTo: 'Please enter the same password as above'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}