@model CompanyViewModel

<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                @ViewBag.PageHeader
            </h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

        </div>
        <!-- end col -->

    </div>
    <!-- end row -->
    <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="well">
                    <form action="@Url.Action("Company", "Configuration")" method="POST" class="form-horizontal" name="configureComapnyForm" id="configureComapnyForm">
                        <fieldset>
                            <legend>@((Model.Id != 0) ? "Edit" : "Add") - @ViewBag.PageHeader </legend>
                            @Html.HiddenFor(model => model.CompanyCode)
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Select Country <sup>*</sup></label>
                                        <div class="col-md-6">
                                      
                                            @Html.DropDownListFor(model => model.CountryCode, new SelectList(Model.Countries, "Value", "Text"), "- Please Select -" ,new { @required = "required", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CountryCode)


                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Company Code</label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.CompanyCode, new { @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Company Name <sup>*</sup></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.CompanyName, new { @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Short Name <sup>*</sup></label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.ShortName, new { @required = "required", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Is Active</label>
                                        <div class="col-md-6">
                                            <span class="onoffswitch">
                                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "onoffswitch-checkbox" })
                                                <label class="onoffswitch-label" for="IsActive">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button>
                                    <a class="btn btn-primary" href="@Request.UrlReferrer" >
                                        <i class="fa fa-undo"></i>
                                        Back
                                    </a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </article>
            <!-- WIDGET END -->

        </div>

        <!-- end row -->
        <!-- row -->

        <div class="row">

            <!-- a blank row to get started -->
            <div class="col-sm-12">
                <!-- your contents here -->
            </div>

        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S)
        <script src="..."></script>-->
    <script src="~/Scripts/plugin/jquery-nestable/jquery.nestable.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
}
